*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* ---------------------------------- .head --------------------------------- */
.head {
  width: 100%;
  padding: 2rem 3rem;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  padding: 2rem 8rem;
  background: rgba(255, 255, 255, 0.206);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.head-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.head-menu a::before {
  content: "";
  position: absolute;
  bottom: calc(0% - 2rem);
  left: 0;
  width: 0%;
  height: 5px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.head-menu a:hover::before {
  width: 100%;
}

.head-menu a span:nth-of-type(1) {
  color: #e0e5e9;
  font-weight: 700;
  padding-right: 0.5rem;
}

.head-menu a span:nth-of-type(2) {
  color: #e0e5e9;
  font-weight: 200;
  letter-spacing: 1.5px;
}

/* ---------------------------------- .main --------------------------------- */
.main {
  width: 100%;
  padding: 0rem 10rem;
  padding-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  max-width: 60ch;
}

.main-info h2 {
  font-size: 2rem;
  color: #bec4da;
  text-transform: uppercase;
  font-weight: 300;
}

.main-info h1 {
  font-size: 7rem;
  text-transform: uppercase;
  color: #ffffff;
}

.main-info p {
  color: #bec4da;
  padding-top: 2rem;
  font-size: 1.3rem;
}

.mian-logo {
  width: 200px;
  height: 200px;
  border-radius: 100rem;
  text-align: center;
  line-height: 200px;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: #656469;
  -webkit-animation: flash 2s forwards infinite;
          animation: flash 2s forwards infinite;
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */