@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=Big+Shoulders+Display:wght@600;700&family=Commissioner:wght@400;500;700;800&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@300;400&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Manrope:wght@600;800&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Spartan:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========================================================================== */
/*                                  CSS-KHUNG                                 */
/* ========================================================================== */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

.pl {
  letter-spacing: 3px;
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
  color: #0ce425;
}

/* ---------------------------------- cotainer --------------------------------- */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: auto;
}

.c-home {
  background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ---------------------------------- .main --------------------------------- */
.main {
  width: 100%;
  padding: 0rem 10rem;
  padding-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  max-width: 60ch;
}

.main-info h2 {
  font-size: 2rem;
  color: #bec4da;
  text-transform: uppercase;
  font-weight: 300;
}

.main-info h1 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 11rem;
  text-transform: uppercase;
  color: #ffffff;
}

.main-info p {
  color: #bec4da;
  padding-top: 2rem;
  font-size: 1.3rem;
}

.mian-logo {
  width: 280px;
  height: 280px;
  border-radius: 100rem;
  text-align: center;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: #656469;
  cursor: pointer;
  -webkit-animation: flash 2s forwards infinite;
          animation: flash 2s forwards infinite;
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}

/* ------------------------------------ x ----------------------------------- */
@media screen and (max-width: 1023.98px) {
  .container {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
  }
  .main {
    width: 100%;
    padding: 0rem 4rem;
    padding-top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mian-logo {
    width: 230px;
    height: 230px;
  }
}

/* ------------------------------------ x ----------------------------------- */
@media screen and (max-width: 767.98px) {
  .container {
    background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem 1rem;
    padding-top: 0rem;
  }
  .main-info {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-info p {
    padding-top: 0rem;
  }
  .mian-logo {
    margin: 6rem 0;
    width: 100%;
    max-width: 230px;
    max-height: 230px;
  }
}

@media screen and (max-width: 424.98px) {
  .main-info h1 {
    font-size: 8rem;
  }
}

@media screen and (max-width: 319.98px) {
  .main-info h1 {
    font-size: 6rem;
  }
}

/* ========================================================================== */
/*                                  MAX-WIDTH                                 */
/* ========================================================================== */
.head {
  width: 100%;
  padding: 2rem 3rem;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head::before {
  content: "";
  height: 2px;
  background: rgba(255, 255, 255, 0.256);
  position: relative;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: -2rem;
  margin-left: 1rem;
  z-index: 5;
}

.head-icon {
  display: none;
}

.head-logo {
  min-width: 48px;
  min-height: 48px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-menu {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  padding: 2rem 8rem;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.head-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.head-menu a::before {
  content: "";
  position: absolute;
  bottom: calc(0% - 2rem);
  left: 0;
  width: 0%;
  height: 5px;
  background: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.head-menu a:hover::before {
  width: 100%;
}

.head-menu a span:nth-of-type(1) {
  color: #e0e5e9;
  font-weight: 700;
  padding-right: 0.5rem;
}

.head-menu a span:nth-of-type(2) {
  color: #e0e5e9;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.head-menu .active::before {
  width: 100%;
}

/* ========================================================================== */
/*                                    1109                                    */
/* ========================================================================== */
@media screen and (max-width: 1109.98px) {
  .head-menu a span:nth-of-type(1) {
    display: none;
  }
}

/* ========================================================================== */
/*                                     899                                    */
/* ========================================================================== */
@media screen and (max-width: 899.98px) {
  .head-menu {
    padding: 2rem 5rem;
  }
}

/* ========================================================================== */
/*                                     767                                    */
/* ========================================================================== */
@media screen and (max-width: 767.98px) {
  .head {
    padding: 2rem 2rem;
  }
  .head::before {
    display: none;
  }
  /* ------------------------------- .head-menu ------------------------------- */
  .head-menu {
    position: absolute;
    top: 0%;
    right: -50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 2rem;
    padding-top: 5rem;
    min-height: 100vh;
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .head-menu.active {
    right: 0%;
  }
  .head-menu a {
    width: 100%;
    padding: 1rem 0;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.635);
  }
  .head-menu a::before {
    bottom: calc(0% - 0rem);
  }
  /* ------------------------------- .head-icon ------------------------------- */
  .head-icon {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .head-icon.active > .icon-close {
    display: block;
  }
  .head-icon.active > .icon-hamber {
    display: none;
  }
  .head-icon .icon-close {
    display: none;
  }
}

@media screen and (max-width: 319.98px) {
  .head-menu {
    padding: 1rem;
    padding-top: 5rem;
  }
}

.c-tech {
  background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ============================================ */
/*                  .MAIN-TECH                  */
/* ============================================ */
.main-tech {
  width: 100%;
  padding: 2rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  max-width: 1440px;
  padding-left: calc(2rem + 100px);
  /* ---------------- .TECH-TITLE --------------- */
}

.main-tech .tech-title h2 {
  color: #81848d;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main-tech .tech-title h2 span {
  color: #42454e;
  font-size: 2.5rem;
  padding-right: 1rem;
}

/* ---------------- .TECH-INFO ---------------- */
.tech-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-info .tech-info-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.tech-info .tech-info-number .number {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border-radius: 1000rem;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
}

.tech-info .tech-info-number .number:hover {
  background: rgba(255, 255, 255, 0.367);
}

.tech-info .tech-info-number .number.active {
  background: white;
  color: black;
}

.tech-info .tech-info-text {
  padding-left: 6rem;
  padding-right: 8rem;
  text-align: left;
  max-width: 100ch;
  min-width: 60ch;
}

.tech-info .tech-info-text h3 {
  color: #76778e;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
}

.tech-info .tech-info-text h1 {
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  padding: 0rem 0 1rem 0;
}

.tech-info .tech-info-text p {
  font-size: 1.5rem;
  color: #9fa4c1;
  line-height: 1.5;
}

.tech-info .tech-info-img {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 100%;
  max-height: 600px;
}

.tech-info .tech-info-img .img-mobile {
  display: none;
}

.tech-info .tech-info-img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* --------------------- C -------------------- */
@media screen and (max-width: 1269px) {
  .tech-info .tech-info-number .number {
    width: 75px;
    height: 75px;
  }
  .tech-info .tech-info-text {
    padding: 0 4rem 0 4rem;
    max-width: 75ch;
  }
  .tech-info .tech-info-text h3 {
    font-size: 1.8rem;
  }
  .tech-info .tech-info-text h1 {
    font-size: 3.7rem;
    min-width: 350px;
  }
  .tech-info .tech-info-text p {
    font-size: 1.2rem;
  }
}

/* --------------------- X -------------------- */
@media screen and (max-width: 1023.98px) {
  .c-tech {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
  }
  .main-tech {
    padding: 3rem 0;
    padding-bottom: 4rem;
  }
  /* ---------------- .TECH-TITLE --------------- */
  .tech-title {
    padding-left: 2rem;
  }
  /* ---------------- .tech-info ---------------- */
  .tech-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-info .tech-info-text {
    text-align: center;
  }
  .tech-info .tech-info-text h1 {
    min-width: unset;
  }
  .tech-info .tech-info-number {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem 0;
  }
  .tech-info .tech-info-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    min-width: unset;
  }
  .tech-info .tech-info-img .img-desktop {
    display: none;
  }
  .tech-info .tech-info-img .img-mobile {
    display: block;
  }
  .tech-info .tech-info-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

/* --------------------- X -------------------- */
@media screen and (max-width: 767.98px) {
  .c-tech {
    background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  }
  .main-tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-tech .tech-title {
    padding-left: 0rem;
  }
  .main-tech .tech-title h2 {
    font-size: 1.5rem;
  }
  .main-tech .tech-title h2 span {
    font-size: 1.5rem;
  }
  .tech-info .tech-info-number {
    padding: 1.5rem 0;
  }
  .tech-info .tech-info-number .number {
    width: 55px;
    height: 55px;
  }
  .tech-info .tech-info-text {
    text-align: center;
  }
  .tech-info .tech-info-text h3 {
    font-size: 1.5rem;
  }
  .tech-info .tech-info-text h1 {
    font-size: 2.5rem;
    min-width: unset;
  }
  .tech-info .tech-info-text p {
    padding: 0 1rem;
  }
}

.c-des {
  background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ============================================ */
/*               .MAIN-DESTINATION              */
/* ============================================ */
.main-destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
  padding-bottom: 2rem;
  padding-left: calc(3rem + 48px);
  width: 100%;
  max-width: 1440px;
}

/* ---------------- .DES-TITLE ---------------- */
.des-title {
  font-size: clamp(0.6rem, 3vw, 1.5rem);
}

.des-title h2 {
  color: #9297a2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.des-title h2 span {
  padding-right: 1rem;
  color: #414552;
}

/* ----------------- .DES-INFO ---------------- */
.des-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  width: 100%;
}

.des-info .info-img {
  width: 50%;
}

.des-info .info-img img {
  width: 100%;
}

.info-detail {
  width: 50%;
  padding-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.info-detail .detail-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.info-detail .detail-number span {
  color: rgba(255, 255, 255, 0.551);
  letter-spacing: 3px;
  padding-bottom: 0.75rem;
  font-weight: 400;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.info-detail .detail-number span.active::before {
  width: 100%;
}

.info-detail .detail-number span::before {
  content: "";
  position: absolute;
  height: 5px;
  background: white;
  width: 0%;
  top: 100%;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.info-detail .detail-number span:hover::before {
  width: 100%;
}

.info-detail .detail-title {
  font-size: clamp(3rem, 6vw, 5rem);
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info-detail .detail-para {
  color: #b0b5d3;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.286);
}

.info-detail .detail-travel {
  padding-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-detail .detail-travel .travel-distane span {
  font-size: 1rem;
  color: white;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-detail .detail-travel .travel-distane h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

.info-detail .detail-travel .travel-time span {
  font-size: 1rem;
  color: white;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-detail .detail-travel .travel-time h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

/* ============================================ */
/*                      XX                      */
/* ============================================ */
@media screen and (max-width: 1023.98px) {
  .c-des {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
  }
  .main-destination {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /* ----------------- .DES-INFO ---------------- */
  .des-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .des-info .info-img {
    width: 50%;
  }
  .info-detail {
    width: 100%;
    padding-right: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-detail .detail-number {
    gap: 1rem;
  }
  .info-detail .detail-para {
    text-align: center;
    width: 100%;
    max-width: 55ch;
  }
  .info-detail .detail-travel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* ============================================ */
/*                      XX                      */
/* ============================================ */
@media screen and (max-width: 767.98px) {
  .c-des {
    background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  }
  .des-info .info-img {
    width: 70%;
  }
  .info-detail .detail-travel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}

/* ============================================ */
/*                      XX                      */
/* ============================================ */
@media screen and (max-width: 424.98px) {
  .main-destination {
    padding: 1rem;
  }
  .des-title {
    padding-left: 1rem;
  }
  .info-detail .detail-number span {
    font-size: 1.1rem;
  }
}

.c-crew {
  background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* ============================================ */
/*                  .MAIN-CREW                  */
/* ============================================ */
.main-crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.8rem;
  padding-left: calc(3rem + 48px);
  width: 100%;
  max-width: 1440px;
}

/* ---------------- .CREW-TITLE --------------- */
.crew-title {
  font-size: clamp(0.6rem, 3vw, 1.5rem);
}

.crew-title h2 {
  color: #9297a2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.crew-title h2 span {
  padding-right: 1rem;
  color: #414552;
}

/* ---------------- .CREW-INFO ---------------- */
.crew-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.crew-info-text {
  width: 50%;
}

.crew-info-text .text-para {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: left;
}

.crew-info-text .text-para h3 {
  color: #969da9;
  font-size: clamp(1.2rem, 5vw, 2rem);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

.crew-info-text .text-para h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: clamp(1.4rem, 5vw, 5rem);
  color: white;
  font-weight: 300;
}

.crew-info-text .text-para p {
  color: #b6b9cc;
  font-size: clamp(1rem, 2vw, 1.2rem);
  letter-spacing: 1px;
  padding: 1rem 0 8rem 0;
  max-width: 60ch;
}

.crew-info-text .text-dot {
  width: 100%;
}

.crew-info-text .text-dot span {
  margin-right: 1rem;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.252);
  cursor: pointer;
}

.crew-info-text .text-dot span.active {
  background: white;
}

.crew-info-text .text-dot span:hover {
  background: rgba(255, 255, 255, 0.531);
}

.crew-info-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-info-img img {
  width: 100%;
}

/* ============================================ */
/*                     1023                     */
/* ============================================ */
@media screen and (max-width: 1023.98px) {
  .c-crew {
    background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
  }
  .main-crew {
    padding: 0 3rem;
  }
  .crew-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .crew-info-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .crew-info-text .text-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .crew-info-text .text-para P {
    padding-bottom: 2rem;
  }
  .crew-info-img {
    width: 60%;
  }
}

/* ============================================ */
/*                      767                     */
/* ============================================ */
@media screen and (max-width: 767.98px) {
  .c-crew {
    background-image: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  }
  .main-crew {
    padding-bottom: 3rem;
  }
  .crew-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

/* ============================================ */
/*                      424                     */
/* ============================================ */
@media screen and (max-width: 424.98px) {
  .main-crew {
    padding: 0 1rem;
    padding-bottom: 3rem;
  }
  .crew-title {
    padding-left: 2rem;
  }
  .crew-info-img {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */